/* Buttons */
#button {
    -fx-background-color: #1DA129;
    -fx-background-radius: 0em;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/*-fx-background-radius: 30;*/
#buttonSearch {
    -fx-background-padding: 5;
    -fx-background-radius: 0em;
    -fx-background-color: #1DA129;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#buttonBar {
    -fx-background-color: #1DA129;
    -fx-text-fill: #ffffff;
    -fx-border: none;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent white transparent;
}

/* Text */
#barHeader {
    -fx-text-fill: #ffffff;
    -fx-background-color: #1DA129;
    -fx-font-size: 55px;
    -fx-font-weight: bold;
}

#barBody {

}

#barBody .scroll-bar:vertical .thumb,
#barBody .scroll-bar:horizontal .thumb {
    -fx-background-color: #C1C1C1;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
    -fx-unit-increment: 40;
    -fx-block-increment: 70;
}

#barBody .increment-button, #barBody .decrement-button {
    
}

#searchHeader {
    -fx-text-fill: #ffffff;
    -fx-font-size: 33px;
    -fx-font-weight: bold;
}

#searchBar {
    -fx-font-size: 15px;
}

/* Bars */
#menuBar {
    -fx-background-color: #1DA129;
}

/*** Containers ***/
#table {
    -fx-background-color: #F4FFF8;
    -fx-text-background-color: #000000;
    -fx-border-color: #C8C8C8;
    -fx-border-width: 1px, 1px, 1px, 1px;
    -fx-alignment: CENTER;
}

#table .table-column {
    -fx-alignment: CENTER;
}

#table .column-header {
    -fx-background-color: #1DA129;
    -fx-border-color: #C8C8C8;
    -fx-border-width: 1px, 1px, 1px, 1px;
}

#table .column-header-background .filler {
    -fx-background-color: #1DA129;
}

#table .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#table .table-row-cell:selected {
    -fx-background-color: #D1D1D1;
}

#table .table-row-cell:hover {
    -fx-background-color: #D1D1D1;
    -fx-text-background-color: #F00000; 
}

#blockA {
    -fx-border-color: #C8C8C8;
    -fx-border-width: 0px 1px 0px 1px;
}