/* Buttons */
#button {
    -fx-background-color: #1DA129;
    -fx-background-radius: 0em;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/*-fx-background-radius: 30;*/
#buttonSearch {
    -fx-background-padding: 5;
    -fx-background-radius: 0em;
    -fx-background-color: #1DA129;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#buttonSearch:hover {
    -fx-background-padding: 5;
    -fx-background-radius: 0em;
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent #1DA129 transparent;
    -fx-text-fill: #1DA129;
    -fx-font-weight: bold;
}

#buttonBar {
    -fx-background-color: #1DA129;
    -fx-background-radius: 0em;
    -fx-text-fill: #ffffff;
    -fx-border: none;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent white transparent;
}

#buttonBar:hover {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0em;
    -fx-text-fill: #1DA129;
    -fx-border: none;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent white transparent;
}

#buttonBarSub {
    -fx-background-color: #1DA129;
    -fx-background-radius: 0em;
    -fx-text-fill: #ffffff;
    -fx-border: none;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent white transparent;
}

/* Text */
#barHeader {
    -fx-background-color: #1DA129;
}

#barBody .scroll-bar:vertical .thumb,
#barBody .scroll-bar:horizontal .thumb {
    -fx-background-color: #C1C1C1;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

#barBody .scroll-pane .scroll-bar:vertical {
    -fx-unit-increment: 150;
    -fx-block-increment: 150;
}

#barBody .increment-button, #barBody .decrement-button {
    -fx-padding: 5.0px;
}

#searchHeader {
    -fx-text-fill: #ffffff;
    -fx-font-size: 33px;
    -fx-font-weight: bold;
}

#searchBarText {
    -fx-font-size: 15px;
}

#searchBar {
    -fx-background-radius: 0em;
}

/* Bars */
#menuBar {
    -fx-background-color: #1DA129;
}

/*** TABLE VIEWS ***/
#table {
    -fx-background-color: #F4FFF8;
    -fx-border-color: #C8C8C8;
    -fx-border-width: 1px, 1px, 1px, 1px;
    -fx-alignment: CENTER;
}

#table:hide {
    
}

#table .table-column {
    -fx-alignment: CENTER;
}

#table .column-header {
    -fx-background-color: #1DA129;
    -fx-border-color: #C8C8C8;
    -fx-border-width: 1px, 1px, 1px, 1px;
}

#table .column-header-background .filler {
    -fx-background-color: #1DA129;
}

#table .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#table .column-header .arrow {
    -fx-background-color: #ffffff;
}

#table .table-row-cell:selected {
    -fx-background-color: #D1D1D1;
    -fx-text-background-color: #000000;
}

#table .table-row-cell:hover {
    -fx-background-color: #D1D1D1;
    -fx-text-background-color: #F00000; 
}

/*** POPUP ***/
#popUp {
    -fx-background-color: #F4FFF8;
    -fx-border-color: #000000;
    -fx-border-width: 1px 1px 1px 1px;
}

#popupLabel {
    -fx-background-radius: 0em;
    -fx-background-color: #1DA129;
}

#popupField {
    -fx-background-radius: 0cm;
    -fx-background-padding: 5;
    -fx-border-height: 20;
}

#popupFieldB {
    -fx-background-radius: 0cm;
    -fx-background-padding: 5;
    -fx-border-height: 20;
    -fx-background-color: #ffffff;
    -fx-border-color: #C8C8C8;
}

#popupFieldButton {
    -fx-background-radius: 0cm;
    -fx-background-color: #1DA129;
}


#headerBlockB {
    -fx-border-color: #C8C8C8;
    -fx-border-width: 0px 1px 0px 1px;
}