/* buttons */
#button {
    -fx-background-color: #1DA129;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 0em;
}

/* Password Fields */
#credentialBox {
    -fx-background-radius: 0cm;
    -fx-background-padding: 5;
    -fx-border-height: 20;
}

/* Text ID's' */
#loginHeader {
    -fx-text-fill: black;
    -fx-font-size: 44px;
    -fx-font-weight: bold;
}

#textRed {
    -fx-text-fill: #ff0000;
}

/* containers */
#block {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
}